*{
    margin: auto    0   ;
}



nav
{
    height: 50px;
    background-color: #484848;
    color: #c8c8c8;
    display: flex;
    align-items:center ;
    
    justify-content: center;
}

nav li
{
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

a
{
    text-decoration: none;
}

a.hover
{
    text-align: none;
    color: pink;
}



